<!-- products.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
</head>
<body>
  <h1>Ürünler</h1>
  <ul>
    <% products.forEach(product => { %>
      <li>
        <h2>Stok Kodu: <%= product.STOKKODU %></h2>
        <p>Ürün Adı: <%= product.URUNADI %></p>
        <p>Fiyat: <%= product.SATISFIYATI %> <%= product.PARABIRIMI %></p>
      </li>
    <% }); %>
  </ul>
</body>
</html>
