<div>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-3" href="#">Admin Paneli</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ürünler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Siparişler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Modüller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Üyeler / Bayiler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tasarım</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SEO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Raporlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Entegrasyonlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kampanyalar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ayarlar</a>
        </li>
      </ul>
    </div>
  </nav>
</div>